<h2>UruIt - Coding Assigment</h2>
<h3>Develop By: Álvaro Quintana</h3>

<p>The goal of this assignment is to create a simple web application that involves applying knowledge on multiple levels and technologies.</p>
