@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Words Game</h1>
    <p class="lead">Simple game of words where the system will show the user a random letter, and the user will have 30 secs to input words that begin with that letter. Words cannot be repeated, but they can be any sequence of characters, so there is no checking if the sequence is an actual word.</p>
</div>